.button-icon {
    background: var(--white);
    padding: 10px;
    border: 2px solid var(--puple);
    border-radius: 4px;
    display: inline-block;
}

.button-icon img {
    vertical-align: middle;
}