.mensaje {
    text-align: center;
    font: var(--headline5);
    block-size: 481px;
    margin-block-start: 14.40px;
}

.mensaje p:first-child {
    font: 24px/38.83px var(--fontBase);
    ;
}

@media screen and (min-width: 1024px) {
    .mensaje {
        padding-block: 200px;
        padding-inline: 200px;
    }
}