.proyectos {
    /* block-size: 555px; */
}

.proyect-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.proyect-img img {
    inline-size: 100%;
}

@media screen and (min-width:760px) {
    .proyectos {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .proyect-description {
        flex: 1;
        display: inline;
    }
    .proyect-description .button:nth-of-type(2) {
        order: 2;
    }
    .proyectos:nth-child(4n+1) .proyect-img {
        order: 2;
        flex: 1;
        text-align: center;
    }
}